[submodule "src/libunwind"]
	path = src/libunwind
	url = https://github.com/llvm-mirror/libunwind.git
[submodule "src/libcxxabi"]
	path = src/libcxxabi
	url = https://github.com/llvm-mirror/libcxxabi.git
[submodule "src/libcxx"]
	path = src/libcxx
	url = https://github.com/llvm-mirror/libcxx.git
